<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Chat Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="container" ng-controller="CalController">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="pull-right">
            <span class="brand">By Julius Asplin</span>
          </div>
        </div>
      </div>
      
      <div class="row">
        
        <div class="span3">
          <div class="eventCreator"><form>
            <div class="form-group">
              <label for="inputName">Event name:</label>
              <input type="text" class="form-control" id="inputName" 
                placeholder="Enter name" ng-model="eventName">
              <label for="inputStart">Start:</label>
              <input type="number" class="form-control" id="inputFrom" 
                placeholder="Enter time of day (Example: 10)" ng-model="eventStart">
              <label for="inputEnd">End:</label>
              <input type="number" class="form-control" id="inputEnd" 
                placeholder="Enter time of day (Example: 12)" ng-model="eventEnd">
              <input class="btn btn-inverse" ng-click="createEvent()" type="submit" value="Create event" />
            </div>
          </form></div>
        </div>
        
        <div class="span9">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th colspan="12" class="header" style="text-align:center;">Today</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="span1 time" style="text-align: right;">7:00</th>
                <th class="span10" id="eventContainer" rowspan="12">
                  
                  
                  <!------------- This is where the events go ------------->
                  
                  <div class="calEvent animate-repeat"
                    ng-repeat="evt in events" style="{{evt.style}}">
                    
                    <div style="overflow:hidden;">
                      <h5>{{evt.name}}</h5>
                      <p>
                        {{evt.start}} - {{evt.end}}
                      </p>
                    </div>
                    <a class="delete" ng-click="removeEvent(evt.id)">
                      <i class="icon-remove"></i>
                    </a></div>
                  </div>
                  
                  <!------------------------------------------------------->
                  
                  
                </th>
              </tr>
              <tr><th class="span1 time" style="text-align: right;">8:00</th></tr>
              <tr><th class="span1 time" style="text-align: right;">9:00</th></tr>
              <tr><th class="span1 time" style="text-align: right;">10:00</th></tr>
              <tr><th class="span1 time" style="text-align: right;">11:00</th></tr>
              <tr><th class="span1 time" style="text-align: right;">12:00</th></tr>
              <tr><th class="span1 time" style="text-align: right;">13:00</th></tr>
              <tr><th class="span1 time" style="text-align: right;">14:00</th></tr>
              <tr><th class="span1 time" style="text-align: right;">15:00</th></tr>
              <tr><th class="span1 time" style="text-align: right;">16:00</th></tr>
              <tr><th class="span1 time" style="text-align: right;">17:00</th></tr>
              <tr><th class="span1 time">18:00</th></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
