body {
    padding-top: 60px;
    padding-bottom: 25px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.eventCreator{
    padding:10px 0 0 10px;
    border-color:#ddd;
    
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    border-style: solid;
    border-width:1px;
}

.eventCreator label{
    font-weight: bold;
}

.eventCreator .btn{
    font-weight: bold;
    margin-top:10px;
}

#eventContainer {
    background-color:#fafafa;
    width:100%;
    height:100%;
    position:relative;
    padding:0;
}

.calEvent{
    position:absolute;
    
    background:#bcf;
    color:#333;
    border-color:#ddd;
    
    text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
    margin:0;
    padding:0 10px 0 10px;
    
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    border-style: solid;
    border-width:1px;
    
    overflow:hidden;
}

.calEvent:hover{
    background:#9af;
    color:#111;
    border-color:#999;
}

.calEvent .delete{
    position:absolute;
    top:-0px;
    right:-0px;
    visibility:hidden;
}

.calEvent:hover .delete{
    visibility:visible;
}

.time{
    padding:0px;
    bottom:0px;
}